force-app/main/default/flows/Case_RT_BS_SLA_Minutes_Setting_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Needs_SLA</name>
        <label>Needs SLA?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Set_or_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_Minutes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Priority</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Priority</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_or_Update_SLA</targetReference>
            </connector>
            <label>Set or Update</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>f_SLAminutesByPriority</name>
        <dataType>Number</dataType>
        <expression>CASE(TEXT({!$Record.Priority}), 
 &quot;High&quot;,   60,
  &quot;Medium&quot;, 120,
  &quot;Low&quot;,    240,
  180  
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case: RT BS - SLA Minutes Setting flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: RT BS - SLA Minutes Setting flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_or_Update_SLA</name>
        <label>Set or Update SLA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>SLA_Minutes__c</field>
            <value>
                <elementReference>f_SLAminutesByPriority</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Needs_SLA</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
